<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Finance Tracker</title>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	@* <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/28.1.33/material.css" /> *@
	<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/28.2.3/bootstrap5-dark.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FinanceTracker.Web.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.syncfusion.com/ej2/28.1.33/dist/ej2.min.js"></script>
</head>
<body class="e-bigger" style="overflow:hidden">
	<partial name="_ToastrNotifications" />
	<partial name ="_SideBar" />

	<div class="dock-target">
		<div class="w-100"></div>
		<nav class="navbar sticky-top">
			<div class="container-fluid py-2 px-4">
				<i class="fa-solid fa-magnifying-glass"></i>
				<div>
					<partial name="_LoginPartial" />
					@* <i class="fa-solid fa-bell"></i>
					<i class="fa-solid fa-message"></i> *@
				</div>
			</div>
		</nav>

		<div class="main-content">
			<div class="container mt-5">
				<div class="row justify-content-center">
					<div class="@(ViewData["isDashboard"] == null ? "col-md-10" : "col-md-12")">
						<main role="main" class="pb-3">
							@if (ViewData["isDashboard"] == null)
							{
								<div class="row">
									<div class="col-md-7">
										<div class="d-flex flex-column mb-5">
											<div class="d-flex mb-1">
												<div class="flex-grow-1">
													<h3 class="fw-bold">@ViewData["PageTitle"]</h3>
												</div>
												<div>
													@if (ViewData["PageActionText"] != null)
													{
														<a class="btn btn-success" style="color:white" href="@ViewData["PageActionUrl"]">
															@ViewData["PageActionText"]
														</a>
													}
												</div>
											</div>
											<ejs-breadcrumb id="breadcrumb"
															separatorTemplate="@Html.Raw("<span class='fa-solid fa-angle-right'></span>")">
											</ejs-breadcrumb>
										</div>
									</div>
								</div>
							}
							@RenderBody()
						</main>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<ejs-scripts></ejs-scripts>
</body>
</html>
